@import "../../../../styles/_variables.module";

.container {
  // choose footer background
  background: #191c1e;
  background: #1d1f2d;
  background: #1f212f;
  background: #14171e; // my choice

  text-align: center;
  margin: 0;
  padding: 3rem 0 5rem;

  img {
    width: 120px;
    height: auto;
  }

  .topics {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;

    a,
    p {
      color: $blue-dark-color;
      font-weight: 700;
      text-decoration: none;
    }
    a {
      &:hover {
        filter: brightness(1.5);
      }
    }
    p {
      margin: 0 1rem;
    }
  }

  p {
    color: $blue-dark-color;
    font-size: 14px;
    margin-bottom: 0;
  }
}
