@import "../../../../styles/_variables.module";

.gameList {
  position: relative;
  max-width: 1140px;
  margin: 60px auto 80px;
  @media (max-width: $screen-lg) {
    padding: 0 12px;
  }

  .listTitle {
    letter-spacing: 3px;
  }

  .thumbnail {
    width: 250px !important;
    height: 200px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .comingSoon {
    &.comingSoon {
      display: flex;
      gap: 8px;
      @media (max-width: $screen-sm) {
        display: block;
      }
      img {
        border-radius: 4px;
        width: 50%;
        height: auto;
        cursor: pointer;

        @media (max-width: $screen-sm) {
          width: 100%;
          margin: 0;
        }
      }
      aside {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 50%;
        padding: 0 36px;

        @media (max-width: $screen-md) {
          padding: 0 20px;
          width: 90%;
        }

        h2 {
          margin-top: 0;
        }

        button {
          width: 160px;
          font-weight: 600;
        }
      }
    }
  }
}
