@import "../../../../styles/_variables.module";

.mainButton {
  background: $blue-light-color;
  color: $blue-color;
  font-size: 1rem;
  font-weight: 600;
  padding: 16px 24px;
  margin-right: 4px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: none;

  transition: background ease 0.3s, border ease 0.3s;

  &:hover {
    background: $main-color-dark;
    color: $white-color;
  }

  &.transparent {
    background: none;
    cursor: pointer;
    &:hover {
      background: $main-color-dark;
    }
  }
}
