@import "../../../../styles/_variables.module";

.mainButton {
  background: $blue-light-color;
  color: $blue-color;
  font-size: 1rem;
  font-weight: 600;
  padding: 16px 24px;
  margin-right: 4px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: none;

  transition: background-color ease 0.3s, border ease 0.3s;

  &:hover {
    background-color: #6ce8c1;
    color: #003353;
  }

  &.transparent {
    background: none;
    cursor: pointer;
    
    &:hover {
      background-color: #6ce8c1;
    }
  }
}
