@import "./_variables.module";

.mainContainer {
  background: #191c1e !important;
  color: $white-color;
  padding: 0;
  margin: 0;
}

.pageContainer {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  
  @media (min-width: $screen-md) {
    padding: 0 12px;
  }
  @media (min-width: $screen-lg) {
    max-width: 960px;
  }
  @media (min-width: $screen-xl) {
    max-width: 1140px;
  }
}

.containerGame {
  .nav {
    position: fixed !important;
    top: 0 !important;
    background-color: #191c1e;    
    max-width: 100% !important;
    width: 100% !important;
    border-bottom: 1px solid rgb(64, 72, 76);
    z-index: 1;

    & > div {
      padding: 0 12px;
    }
  }

  div > img:first-of-type {
    position: relative;
    top: -88px;
    @media (min-width: $screen-lg) {
      top: -250px;
    }
  }

}

.imageContainer {
  display: flex;
  position: relative;
  z-index: 1;

  @media (min-width: $screen-sm) {
    height: 60vh;
  }
  @media (min-width: $screen-md) {
    height: 70vh;
  }
  @media (min-width: 862px) {
    height: 76vh;
  }
  @media (min-width: 950px) {
    height: 100%;
  }
}

// button {
//   cursor: pointer;
// }