@import "../../../../styles/_variables.module";

.header {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1260px;
  width: 100%;
  margin: auto;

  .logo {
    display: flex;

    .logoImage {
      height: auto;
      width: 70px;
      margin: 0 1rem;
      filter: grayscale(100%) brightness(160%) sepia(3%);

      @media (max-width: $screen-sm) {
        width: 50px;
      }
    }

    .logoName {
      width: 150px;
      filter: grayscale(100%) brightness(160%) sepia(3%);

      @media (max-width: $screen-sm) {
        height: auto;
        width: 90px;
      }
    }
  }

  .nameIcon {
    display: flex;
    align-items: center;
    justify-content: center;

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      padding: 12px 22px;
      border-radius: 50px;
      cursor: pointer;
      transition: background ease 0.3s, border ease 0.3s;

      &:hover {
        background: #562684;
      }
    }

    .user {

      @media (max-width: $screen-sm) {
        padding: 0 !important;
      }
  
      span {
        padding: 2px;
      }
  
      .userIcon {
        font-size: 20px;
        margin-right: 0.25rem;
        line-height: 0.6;
  
        & + span {
          @media (max-width: $screen-sm) {
            display: none;
          }
        }
      }
    }
    .rain {
      margin: 0 1rem;
      height: 22px;
      border: 1px solid $white-color;
      @media (max-width: $screen-sm) {
        margin-left: 0.5rem;
      }
    }
  }
}
